*{
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/image/fundo.jpg);
}

header {
    margin-top: 60px;
    margin-bottom: 60px;
    color: white;
    text-align: center;
}

.grid-container{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid-container > button {
    cursor: pointer;
    font-size: 2rem;
    border:none;
    outline: none;
    background-color: #111;
    color: #eee;
}

.grid-container > .operador {
    background: #41b88375;
}

.span-two{
    grid-column: span 2;
}

.grid-container > .output {
    grid-column: 1/  -1;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.grid-container > .output > .previous {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.grid-container > .output > .current {
    color: white;
    font-size: 2.5rem;
}
/*
section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.315);
}
*/
